.gallery_contianer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4,1fr);}
.gallery_img1 {
    width: 420px;
    height: 200px;
    top: 40px;
    left: 537px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img2{
    width: 335px;
    height: 448px;
    top: 288px;
    left: 437px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img3{
    width: 150px;
    height: 200px;
    top: 288px;
    left: 807px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img4{
    width: 335px;
    height: 200px;
    top: 536px;
    left: 67px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img5{
    width: 150px;
    height: 200px;
    top: 288px;
    left: 67px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img6{
    width: 150px;
    height: 200px;
    top: 288px;
    left: 252px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img7{
    width: 150px;
    height: 200px;
    top: 536px;
    left: 807px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img8{
    width: 150px;
    height: 200px;
    top: 784px;
    left: 67px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img9{
    width: 150px;
    height: 200px;
    top: 784px;
    left: 252px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}
.gallery_img10{
    width: 520px;
    height: 200px;
    top: 784px;
    left: 437px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(0, 0, 0, 1)}            